* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: rgb(27, 27, 27);
  color: rgb(240, 240, 240);
}

.container {
  position: relative;
  width: 100%;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 200px;
  height: 200px;
}

.front {
  border: 3px solid yellow;
  background-color: rgba(255, 255, 0, 0.22);
  transform: translateZ(100px);
}

.left {
  border: 3px solid red;
  background-color: rgba(255, 0, 0, 0.22);
  transform: rotateY(-90deg) translateZ(100px);
}

.right {
  border: 3px solid green;
  background-color: rgba(0, 128, 0, 0.22);
  transform: rotateY(90deg) translateZ(100px);
}

.back {
  border: 3px solid blue;
  background-color: rgba(0, 0, 255, 0.22);
  transform: rotateY(-180deg) translateZ(100px);
}

.up {
  border: 3px solid purple;
  background-color: rgba(128, 0, 128, 0.22);
  transform: rotatex(-90deg) translateZ(100px);
}

.down {
  border: 3px solid rgb(7, 82, 7);
  background-color: rgba(7, 82, 7, 0.22);
  transform: rotateX(90deg) translateZ(100px);
}

.ctrlButton {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  align-items: center;
}

.rotationLbl {
  flex: 1 1 200px;
}

.perspectiveLbl {
  flex: 1 1 100%;
  justify-content: center;
}